# Foundations of Data Science
## Homework 2

Student Name: Harsh Yadav

Student Netid: hy1217
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include aspects of the Data Science Workflow that you see as relevant to solving the problem.  Be precise but concise.

For setting Target's problem up as a predictive modeling problem, we can consider all the factor that Andrew Pole took for building his predictive model like ethnicity, job history, the magazines you read, bankruptcy, divorce, the year you bought (or lost) your house, where you went to college, what kinds of topics you talk about online, whether you prefer certain brands of coffee, paper towels, cereal or applesauce, your political leanings, reading habits, charitable giving and the number of cars you own. If we have this amount of data, then we can move beyond targeting just the pregnant women. For example, we can target the new people who come each year to US for studies/jobs. We can get the data about them through the government, Universities they get enrolled into and Companies in which they are hired. If these people are targeted and if they get used to buying from target, then it would affect the sales a lot. Also, each year a lot of students move from one place to another when they get enrolled into Universities and if we try to contact the University dorms and start giving student discounts they the new students may get used to buying from the same place again. Also, bursting these new people with a lot of student discounts on the items which they need in the beginning like groceries, clothes, stationary, etc will help in increasing the sales.

Label: pregnency registry
Features: purchasing of certiain items
Method: Supervised learning/ Regression

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int` (continuous), `int` (continuous), `string`, and `int` (category) respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file?

In [ ]:
wc -l advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [ ]:
cut -d',' -f1 advertising_events.csv | sort | uniq | wc -l

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [ ]:
awk -F ',' '{print $3}' advertising_events.csv | sort | uniq -c | sort -r

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [ ]:
awk -F ',' '$1 ~ /^37$/' advertising_events.csv

### Part 3: Dealing with data Pythonically

In [1]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [2]:
from timeit import Timer
ads = pd.read_csv('C:/Users/Harsh Yadav/Downloads/ads_dataset.tsv', sep='\t', header=0)

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [3]:
def getDfSummary(input_data):
    number_nan=input_data.isnull().sum()                        #NaN values
    number_distinct=input_data.nunique(dropna=True)             #Distinct values
    percentile25=input_data.quantile(0.25)                      #25th Percentile
    percentile50=input_data.quantile(0.50)                      #50th Percentile          
    percentile75=input_data.quantile(0.75)                      #75th Percentile
    df1=pd.concat([percentile25, percentile50, percentile75, number_distinct, number_nan], axis=1)
    df1.columns = ['25 Percentile', '50 Percentile', '75 Percentile', 'Distinct Elements', 'Number of NaN']
    aggregate=input_data.agg([pd.np.min, pd.np.max, pd.np.mean, pd.np.std])
    aggregate=aggregate.T
    output_data=pd.concat([aggregate,df1], axis=1)
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [4]:
t = Timer(lambda: getDfSummary(ads))                     #Time to execute the above function
print (t.timeit(number=1))

0.09308074754966567

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [5]:
df4=getDfSummary(ads)
df4.index[df4['Number of NaN']>0].tolist()

['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [6]:
ads1=ads[ads.isnull().any(axis=1)]
ads2=getDfSummary(ads1)
ads2

,amin,amax,mean,std,25 Percentile,50 Percentile,75 Percentile,Distinct Elements,Number of NaN
isbuyer,0.0000,0.00000,0.000000,0.000000,0.0,0.0,0.000000,1,0
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,52257
visit_freq,1.0000,84.00000,1.651549,2.147955,1.0,1.0,2.000000,48,0
buy_interval,0.0000,0.00000,0.000000,0.000000,0.0,0.0,0.000000,1,0
sv_interval,0.0000,184.91670,5.686388,17.623555,0.0,0.0,0.041667,5112,0
expected_time_buy,0.0000,0.00000,0.000000,0.000000,0.0,0.0,0.000000,1,0
expected_time_visit,-187.6156,91.40192,-9.669298,31.239030,0.0,0.0,0.000000,13351,0
last_buy,0.0000,188.00000,65.741317,53.484622,19.0,52.0,106.000000,189,0
last_visit,0.0000,188.00000,65.741317,53.484622,19.0,52.0,106.000000,189,0
multiple_buy,0.0000,0.00000,0.000000,0.000000,0.0,0.0,0.000000,1,0
multiple_visit,0.0000,1.00000,0.255602,0.436203,0.0,0.0,1.000000,2,0
uniq_urls,-1.0000,206.00000,86.656180,61.996711,30.0,75.0,155.000000,207,0
num_checkins,1.0000,37091.00000,721.848518,1284.504018,126.0,318.0,803.000000,4570,0
y_buy,0.0000,1.00000,0.003024,0.054904,0.0,0.0,0.000000,2,0

Answer: We can see that for the variable buy_freq, all the results except Distict elements and Number of NaN are NaN. This is because there are no values for buy_freq if we discard the NaN values from our initial data frame. So, we notice that the data is missing form other columns where ever buy_freq has a value. If we look at the isbuyer variable, then we notice that whenever buy_freq has a value other than NaN, then the value of isbuyer is 1, otherwise it is 0. So, for filling the missing values, we must have the data for isbuyer column to determine the buy_freq.

when multiple_buy is 0, then buy_freq is 0.
Fill the values with 0 or mean/mode.

6\. Which variables are binary?

In [7]:
binary = [column for column in ads if ads[[column]].dropna().isin([0, 1]).all().values]
binary

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']